<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Order confirmation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <style>
    p {
      width: 100%;
      max-width: 480px;
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 20px 0;
    }

    a, a:link, a:visited {
      text-decoration: underline;
      color: #00f;
    }

    h2 {
      font-size: 20px;
      line-height: 20px;
      margin: 0 0 20px 0;
    }

    table {
      width: 100%;
      max-width: 480px;
      border-collapse: collapse;
      font-family: "JetBrains Mono", Menlo, Consolas, "Andale Mono", "Lucida Console", "Courier New", Courier, monospace;
      font-size: 13px;
      margin: 0 0 20px 0;
    }

    td {
      border-bottom: 1px dashed #000;
    }

    td.description {
      vertical-align: top;
      text-align: left;
    }

    td.price {
      vertical-align: top;
      text-align: right;
    }

    td.subtotal {
      vertical-align: bottom;
    }

    span.discount {
      font-size: 10px;
      text-transform: uppercase;
    }
  </style>
</head>

<body>
<h2>Order {{ order_name }}: refunded</h2>

<p>I&rsquo;ve issued a refund of {{ amount | money }} for the following items:</p>

<table>
{% for refund_line_item in refund_line_items %}
<tr>
<td class="description">
{% assign line_item = refund_line_item.line_item %}
{{ line_item.product.title }} &times; {{ refund_line_item.quantity }}
</td>
</tr>
{% endfor %}
</table>

<p>You should see this appear on your payment card shortly.</p>

<p>That&rsquo;s it!</p>
</body>
</html>